@media screen and (max-width:1399px) {
    .para-cube{
        padding: 5rem  0 0 2rem;
    }
    .planimg{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 0rem;
        margin-right: 0px;
    }
    .container3{
        padding-left: 0px;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .paraplan{
        margin: 110px 68px 1px 48px;
    }
    .planprt{
        width: 270px;
    }
    /*/////*/
    .group-input{
        margin-left: 50px;
    }
    .illcontact {
        padding: 185px 72px 10px 25px;
    }
    .input-contact {
        margin-right: 70px;
    }
}




@media screen and (max-width:1300px){
    .navbar-light .navbar-nav .nav-link {
        padding: 10px;
    }
    .container-fluid{
        margin: 20px 9rem;
    }
}
@media screen and (max-width:1199px){
   /* .container{
        display: flex;
        justify-content: center;
        align-content: center;
    }*/
    .planprt{
        width: 230px;
    }
    .liste-item ul{
        padding-left: 1rem;
    }
    .card-1c h5 {
        font-size: 1.35rem;
}
    .group-input{
        margin-left: 70px;
    }
    .illcontact {
        padding: 185px 0px 10px 0px;
    }
    .input-contact {
        margin-right: 0px;
}

}
@media screen and (max-width:991px) {
    .client{
        margin-top: -52px;
    }
    .pasta{
        width: 700px;
    }
    .pasta h1{
        font-size: 3rem;
    }
    .koko img{
        margin-bottom: 100px;
        margin-top: 60px;
        transform: translate(-11%);
    }
    
    .mom{
        margin-top: 9rem;
    }
    .position{
        height: auto;
       
    }
    .img1{
        display: none;
    }
    .group-content{
        width: 500px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .Brand{
        margin-top: 10px;
    }
    .navbar{
        background-color: #ffffff;
        z-index: 9;
    }
    .navbar ul{
        margin-top: 15px;
    }
    .container-fluid {
        
        margin:5px 50px;
        /*background-color: #ffffff;*/
        z-index: 9;
    }
    .navbar{
        padding-top: 0;
    
    }
    .para{
        max-width: 700px;
    }
    .offers{
        padding-top: 21%;

    }
    .container3 {
        padding-left: 0px;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
    .paraplan{
        margin-top: 0px;
        margin-right: 0px;
        justify-content: center;
    }
    .planimg{
        justify-content: center;
        margin-top: 50px;
    }
    .plan1-img{
        transform: none;
    }
    .planprt{
        width: 300px;
        margin: 0 20px;
    }
    .plan{
        margin-top: 0rem;
    }
    .paraplan{
        margin: 110px 0px 0px 20px;
    }
    .liste-item ul{
        padding-left: 3rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }
    .plan1-img{
        margin-left: 40px;
    }
    .plan2-img{
        margin-right: 20px;
    }
    .customer{
        margin-left: 0px;
    }
    /************/
    .illcontact > img {
        width: 100%;
        height: 100%;
    }
    .container4 {
        padding-top: 0;
        margin-top: 0rem;
    }
    .illcontact {
        padding: 120px 0px 10px 0px;
    }
    .h1-input{
         width: 500px;
     }
     .group-input{
         margin-top: 90px;
         margin-left: 0;
     }
}

@media  screen and (max-width:829px) {
    .para{
        width: 700px;
    }
        .para1 {
        padding-left: 20px;
        }
}
/*media 700*/
/* ///////////
///////////////
///////////////////
///////////////
//////////////////
//////////////////
/////////////
////////////////
///////////////
/////////////////
/////////////
*/

@media screen and (max-width:790px){
    .para{
        width: 600px;
    }
    .para1{
        padding-left: 0px;
    }
    .sir{
        width: 600px;
    }
    .pasta{
        padding: 0;
    }
}
@media  screen and (max-width:767px){
    .pasta{
        width: 500px;
    }
    .para-cube{
        padding: 0rem  0 0 0rem;
    }
    .prooffers{
         padding: 5% 15%;
    }
    .offers{
        padding: 8% 0;
    }
    .planprt{
        width: 300px;
        margin: 0;
    }
    .planimg{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .plan1-img{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .plan2-img{
        margin-right: 0;
        margin-top: 1rem;
    }
    .h1-input{
        width: 450px;
    }
}
@media screen and (max-width:645px){
   .para1{
       padding-left: 0;
   }
}
@media screen and (max-width:600px) {
    .img1{
        display: none;
    }
    
    
    .group-content h5{
        font-size: 14px;
    }
    .group-content h1{
        font-size: 3em;
    }
   
    .group-content{
        width: 400px;
       margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width:550px){
    
    .para{
        width: 470px;
    }
    .para1{
        padding-left: 20px;
    }
    .sir{
        width: 490px;
    }
}
@media screen and (max-width:520px){
    
}
@media screen and (max-width:500px) {
    .para{
        width: 450px;
    }
    .para1{
       padding-left: 40px;
    }
    .sir{
        width: 450px;
    }

}

/*//////////
/////////////////////////////
//////////////////////////////
////////////////////*/


@media screen and (max-width: 459px){
    .prooffers{
        padding: 5% 10%;
   }
   .h1-input{
    width: 380px;
}
}
@media  screen and (max-width:440px){
    .pasta{
        width: 450px;
    }

}


@media screen and (max-width: 425px){
.groupmam {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .input-contact{
        padding-right: 20px;
    }
}


@media  screen and (max-width:440px) {
    .group-content{
        width: 300px;
        height: 400px;
        margin-left: 10px;
        margin-top: 100px;
    }
    .group-content h5{
        font-size: 14px;
    }    
    .group-content h1{
        font-size: 2em;
    }
    .group-content p{
        margin-top: 20px ;
    }
    .para1{
       padding-left: 20px;
    }
    .para{
        width: 400px;
    }
    .most h5{
        font-size: 18px;
        font-weight: 600;
    }
    .most p{
        font-size: 14px;
    }
    .pasta{
        width: 400px;
    }
    .sir{
        width: 360px;
    }
    input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      .input-contact {
        margin-right: 0px;
        padding-right: 20px;
    }
    .illcontact > img {
        width: 92%;
        height: 100%;
    }
}


@media  screen and (max-width:419px){
   .input-contact{
       padding-right: 38px;
   }
}





@media screen and (max-width:399px){
    .img2{
        text-align: justify;
        padding-left: 60px;
    }
    .pasta{
        width: 320px;
    }
    .sir{
        width: 320px;
    }
    .prooffers{
        padding: 5% 8%;
   }
   .input-contact{
    padding-right: 58px;
    }
.h1-input{
    width: 316px;
}
.illcontact > img {
    width: 83%;
    height: 100%;
}
}
@media screen and (max-width:375px){
    .planprt {
        width: 270px;
        margin-right: 30px;
    }
    .illcontact > img {
        width: 77%;
        height: 100%;
    }
}
@media screen and (max-width:355px){
    .prooffers{
        padding-right: 0;
        padding-right: 0;
   }
   .planimg {
    margin-right: 28px;
}
   
    input[type=text], textarea {
        width: 100%;
        max-width: 261px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      .h1-input{
          width: 300px;
      }
      .illcontact > img {
        width: 70%;
        height: 100%;
    }
}
@media screen and (max-width:350px){
    .img2 img{
        text-align: justify;
        padding-left: 0;
    }
    .koko img{
        transform: translate(-11%);
    }
    .para{
        width: 200px;
    }
    .pasta{
        width: 250px;
    }
    
}






@media screen and (max-width:390px){
    .container2{
        padding-left: 15px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .para{
        width: 350px;
    }
    .most h5{
        font-size: 18px;
        font-weight: 600;
    }
    .most p{
        font-size: 14px;
    }
    header{
        width: 103%;
    }
    .group-content{
        width: 300px;
    }
    .prooffers{
        padding: 5% 0%;
   }
   .input-contact{
    padding-right: 70px;
}
}
@media screen and (max-width:369px){
    .input-contact{
        padding-right: 80px;
    }
}
@media screen and (max-width:360px){
    .container2{
        padding-left: 9px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .input-contact{
        padding-right: 85px;
    }
}
@media screen and (max-width:345px){
    .img2 img{
        max-width: 200px;
    }
    .img2{
        text-align: left;
    }
    .para{
        width: 300px;
    }
    .para1{
        padding-left: 0;
    }
    .container1{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .container2{
        padding-left: 17px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    
}
@media screen and (max-width:330px){
    .container2{
        padding-left: 15px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    .planprt {
        width: 260px;
        margin-right: 40px;
    }
    .h1-input{
        width: 250px;
    }
    .illcontact > img {
        width: 65%;
        height: 100%;
    }
}
@media screen and (max-width:291px){
    .prooffers{
        padding: 5% 0%;
   }
}
@media screen and (max-width:291px){
    .group-content{
        width: 200px;
    }
    .img2 img{
        max-width: 150px;
    }
    .para{
        width: 250px;
    }
}