@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Cardo', serif ;
}
html,body{
    
    overflow-x: hidden;
    width: 100%;
    height: auto;
    color: #383340;;
}
header{
    background-image: url(bg_hero_1.svg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.Brand img{
    width: 40px;
}
.Brand{
    padding-right: 3rem;
}
.container-fluid{
    margin: 20px 14rem;
}
.btn-45{
    padding: 10px 15px;
    background-color: #383340;
    color: #ffffff;
}
.navbar ul li a{
    font-family: 'Josefin Sans', sans-serif;
}
.btn-45:hover{
    background-color: black;
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    padding: 18px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: black;
}
.group-content{
    width: 400px;
    height: 300px;
    /*min-width: 400px;*/
    /*background-color: burlywood;*/
    margin-left: 10px;
}
.group-content h5{
    color: rgba(34, 34, 34, 0.9) ;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Cardo', serif;
}
.group-content h1{
    font-size: 3em;
    color: rgb(61, 60, 60);
    font-family: 'Cardo', serif;
    margin-top: 15px;
    letter-spacing: 4px;
}
.group-content p{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px ;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: rgba(34, 34, 34, 0.9) ;
}
.group-content button{
    border: none;
    background-color: #3D58F3;
    padding: 10px 28px;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Cardo', serif;
}
.group-content button:hover{
    background-color: #2042ff ;
}
.group1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.titleimg{
    width: 100%;
    max-width:233px;
    border-radius: 30px;
    margin-top: 60px;
}
/*animation*/
.img1{
    position: relative;
    right: 140px;
    animation: move 3s linear infinite;
    animation-direction: alternate;
}
@keyframes move {
    0%, 50%, 100%{
        transform: translateY(0);
      }
      25% {
        transform: translateY(4px);
      }
      75% {
        transform: translateY(-4px);
      }
  }
  .logoclient{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
  }
  .client{
      margin-bottom: 90px;
      margin-top: 150px;
  }
.client img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100px;
    padding: 0 62px;
    margin: 130px 0 10px;
}
.position{
    background-image: url(pattern_1.svg);
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top:9rem;
    
}
.container{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.img2 > img{
    width: 100%;
    max-width: 250px; 
}
.img2{
    text-align: center;
}
.loll{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.para1{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 15px;
}
.most{
    padding-left: 20px;
}
.para{
    transform: translateY(15%);
    width: 100%;
    max-width: 600px;
}

.para1 h5{
    font-size: 1.5em;
    padding: 0px 0 0px;
}
.icon2 img{
    width: 32px;
    line-height: inherit;
    margin: 0;
    
    z-index: 1;
}
.icon2{
    position: relative;
    top: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: #E89E09 ;
}
.icon2 div{
    padding-right: 50px;
}
.mom{
   margin-top: 17rem;
}

.ecom h1{
    color: #6b6872;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.25;
}
.pasta{
    width: 503px;
}
.sir p{
    margin-bottom: 2rem !important;
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
}
.para-cube{
    padding: 5rem  0 0 12rem;
}
.bntdada button{
    padding: 10px 25px;
    border: 2px solid;
}

  /*  background-color: #383340 !important;
 

.titlewhy h1{
    font-weight: 600;
    font-size: 3rem;
    margin-top: 50px;

.offers{
    width: 100%;
    max-width: 300px;
    padding: 50px 0px;
}
.offers h4{
    padding: 15px 0 10px;
    font-size: 20px;
    font-weight: 600;
*/

.total{
    background-color: #383340 !important;
}
.goupaer{
    padding-top: 85px;
    padding-bottom: 25px;
    text-align: center;
}
.lonwan{
    color: #ffffff;
}
.lonwan h1{
    font-size: 3rem;
    font-weight: 600;
}
.prooffers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px 5%;
}
.offers{
    padding: 8% 21%;
    line-height: 1.5;
}
.offers, h4 p{
    color: #ffffff;
}
.offers h4{
    font-size: 1.3rem;
    padding-top: 5%;
    padding-bottom: 3%;
}
.offers p{
    font-size: 1rem;
}