
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Titillium+Web&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

h1{
    color: white;
    font-size: 36px;
}
h3{
    font-size: 20px;
    padding: 20px 0 0 0;
}
h4{
    margin: 10px 0;
    display: inline-block;
}
h2{
    text-align: center;
    color: grey;
    font-size: 20px;
}
p{
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}
.title h1{
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}
.title h4{
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px #333;
    text-align: center;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
header .toppart{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/bg-1.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items : center;
    background-color: #5D4954;
    min-height: 9vh;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.menu ul{
    list-style: none;
    text-align: right;
    margin-top: 10px;
}
.brand{
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-family: 'Alegreya', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
}
.menu ul li{
    font-weight: 600;
    padding: 22px;
    display: inline;
    font-size: 14px;
}
.menu a{
    letter-spacing: 1px;    
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-weight: bold;
}
.lines{
    display: none;
    cursor: pointer;
}
.lines div{
    width: 25px;
    height: 3px;
    background-color: rgb(216, 216, 216);
    margin: 5px;

}
/*.headr{
    background-color:#1e212d ;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}
.brand h1{
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    text-align: left;
    padding: 20px;

}
.menu{
    margin-right: 45px;
    
}
.menu ul li{
    
    font-weight: 600;
    padding: 20px;
    display: inline-block;
    font-size: 14px;
}
.menu ul{
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}
.menu a{
    text-decoration: none;
    color: #faf3e0;
}
.menu a:hover{
    font-size: 18px;
    color:#1e212d;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    transition: 1s ease-in-out ;
}
.menu ul li a:focus,
.menu ul li a:active
{
    color:#1e212d;
    background-color: #fff;
    border-radius: 20px;
    padding: 6px 15px;
}-*/

/*
header::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #fff,transparent);
    z-index: 1;
}*/



/*another section for cards*/
/* 
///////
/////
/
///
///////////
/////////
/////////////
////////////
*/
#Aboutus{
    margin: 50px;
}
.cardz{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    padding:100px;
}
.Card{
    background-color: rgba(224, 223, 223, 0.87);
    padding-bottom: 30px;
}
.Card img{
    width: 100%;
}
.res{
    color: green;
}
.para{
    color:blue;
}
.htc{
    color: grey;
}
.content1{
    padding-left: 20px;
    overflow: inherit;
}
.Card p{
    font-size: 14px;
    padding-right: 5px;
}
.btn{
    border: 0.5px solid #564fcc;
    border-radius: 10px;
    background-color: #564fcc;
    font-size: 18px;
    cursor: pointer;
    color: #f2f2f2;
    outline: none;
    letter-spacing: 1px;
}
.btn button{
    padding: 30px;
}
.inpbtn{
    text-align: center;
    margin-top: 20px;
}
.column{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 50px;
    padding: 0 100px;
}
.columnone{
    background-color: rgba(224, 223, 223, 0.87);
}
.imgs img{
    width: 100%;
}
.columnone p{
    font-size: 14px;
    padding: 27px;
    text-align: left;
    color:#333333;
}
.columnone h2{
    color: #666666;
    text-transform: capitalize;
    padding-top: 20px;
}
/*another section
//////////////////////
/////////////////////////////////
///////////////////
/////////////

//////////////////

//////////////
//////////////
/////////
///////////////
////////////////
////////////////
///////////////////
///////////////////////
///////////////////////
////////*/
.bg2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg-2.jpg);
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
}

/*
////////////////
//////////////////////
//////////////////
/////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////// */